<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Login </title>
</head>
<body>
    <br>
    <div class="container mt-5">
    <h5>Login Your Registered Account</h5>
    <form action="/listings/login" method="post">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" id="exampleInputPassword1">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
    <a href="/listings" class="btn btn-success">Go Back</a>

</div>
</body>
</html>
