
<title> Register</title>
<%- include('header') %>





<body>
    
    <div class="container">
        <h1>Register Account</h1>
        <form action="/listings/register" method="POST">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email"  id="exampleInputEmail1" aria-describedby="emailHelp">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" id="exampleInputPassword1">
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        <br>
        <a href="/listings" class="btn btn-success">Go Back</a>

    </div>
    
</body>
</html>