@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

li, a, button, h1, h2, h3, p {
    font-family: 'Trebuchet MS';
}
header{
    display: flex;
    justify-content: flex-end;
}

.nav{
background-color: black;
}